/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

dist/
out/
**/src/generated
syntaxes/
*.tsbuildinfo
*.vsix
